.modal {
    position: fixed;         /* Stay in place */
    z-index: 1;              /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;             /* Full width */
    height: 100%;            /* Full height */
    overflow: auto;          /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-header, .modal-footer {
    padding: 10px;
}

.modal-title {
    margin: 0;
}

.modal-body {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    overflow-y: auto;        /* Add scroll to modal body */
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
    border: none;
}
